
<html>
    <body bgcolor="pink">
        <p>ngIf works!</p>
         <div *ngIf="true; then thenBlock else elseBlock"></div>
         <ng-template #thenBlock>Content to render when condition is true.</ng-template>
         <ng-template #elseBlock>Content to render when condition is false.</ng-template>

         <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
    show = {{show}}
    <br>
    <div *ngIf="show">Text to show</div>
    </body>
</html>