
<html>
    <body bgcolor="">
      <div>Inputpara works!</div>
        <br>
           <input type="text"  id="mydata">
        <br><br>
           <!-- <input  [(ngModel)]="mydata2" #it="ngModel"> -->
        <br><br>
           <button (click)="fun($event)">Press me</button>
        <br><br>
           <label> Event Occure : {{eventOccure}}</label>   
        <br><br>
        <label>Your str : {{str}}</label>
        <br><br>
        <label>Your str1 : {{str1}}</label>
        <br><br>   
        <label>Your str2 : {{str2}}</label>
        <br>    
    </body>
</html>